<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Welcome</title>
    <link rel="icon" type="image/x-icon" href="static/assets/images/profile-header.jpg">
    <link rel="stylesheet" href="static/assets/css/login1.css">
  </head>
  <body>
    <div class="container" id="container">
      <div class="form-container sign-in-container">
      <FORM name="login" method="post" action="">
        {% csrf_token %}
        {% if messages %}
                
                        {% for message in messages %}
                        <div class="alert alert-info">
                           <h4 style="color:#e75e8d;"> {{ message }} </h4>
                        </div>
                        {% endfor %}
                  
                    {% endif %}
          <h1>Sign in</h1>

          <span>Use your account</span>
          <input type="text" placeholder="Username" name="username" required/>
          <input type="password" placeholder="Password" name="password" required/>
          {% comment %} <a href="#">Forgot your password?</a> {% endcomment %}
          <br>
          <button type="submit">Sign In</button>
          <br>
        </form>
      </div>
      <div class="overlay-container">
        <div class="overlay">
          <div class="overlay-panel overlay-right">
            <h1>Hello, Friend!</h1>
            <p>Enter your personal details and start journey with us</p>
            <a href="/register"><button class="ghost" id="signUp">Sign Up</button></a>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>