{% extends 'base.html' %}

{% block title %}News{% endblock title %}

 {% block body %}
 
	{% comment %} <div class="container">  
	
			<img src="" alt="no">
			<h1>news:</h1> {{ new }}
			{{ value|linebreaks }}

			<h4>description:</h4>{{ des }}
			{{ value|linebreaks }} 

	 
	  </div> {% endcomment %}


	<!-- ***** Live Stream Start ***** -->
	<div class="live-stream">
		<div class="col-lg-12">
		  <div class="heading-section">
			<h4><em>Most Popular</em> Live Stream</h4>
		  </div>
		</div>
		<div class="row">
			{% for new, des, i in mylist %}
		  <div class="col-lg-3 col-sm-6">
			<div class="item">
			  <div class="thumb">
				<img src="{{ i }}" alt="">
				<div class="hover-effect">
				  <div class="content">
					<div class="live">
					  <a href="#">Live</a>
					</div>
					<ul>
					  <li><a href="#"><i class="fa fa-eye"></i> 1.2K</a></li>
					  <li><a href="#"><i class="fa fa-gamepad"></i> CS-GO</a></li>
					</ul>
				  </div>
				</div>
			  </div>
			  <div class="down-content">
				<div class="avatar">
				  <img src="static/assets/images/avatar-01.jpg" alt="" style="max-width: 46px; border-radius: 50%; float: left;">
				</div>
				<span><i class="fa fa-check"></i> KenganC</span>
				<h4>{{ new }}</h4>
			  </div> 
			</div>
		  </div>
		</div>
		  {% endfor %}

		  <div class="col-lg-12">
			<div class="main-button">
			  <a href="streams.html">Discover All Streams</a>
			</div>
		  </div>
		</div>
	  </div>
	  <!-- ***** Live Stream End ***** -->

{% endblock body %}